<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/header.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
        <link rel="stylesheet" th:href="@{/css/marketDetail.css}" />
        <script defer th:src="@{/js/header.js}"></script>
        <script defer th:src="@{/js/marketDetail.js}"></script>
        <title>알뜰시장 상세</title>
    </head>
    <body>
        <!-- header -->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!-- main -->
        <div class="main">
            <div class="market-wrapper">
                <!-- community header -->
                <div class="market-header-wrap">
                    <div class="market-header">
                        <img src="/img/핑구.jpg" width="40px" class="talk-writer-pic" />
                        <div class="talk-writer-nickname">바삭한 감자전</div>
                    </div>
                    <div class="market-header">
                        <div class="talk-inform-look">
                            <div>조회수</div>
                            <div class="market-inform-lookCnt">13</div>
                        </div>
                        <div class="market-inform-date">
                            <div>작성일</div>
                            <div class="market-inform-date">2023.12.05</div>
                        </div>
                    </div>
                </div>
                <!-- community main -->
                <div class="market-main">
                    <div class="market-main-title-wrap">
                        <div class="market-writer-title-right">
                            <div class="market-writer-price">나눔</div>
                            <div>아기옷 나눔합니다</div>
                        </div>
                        <div class="market-writer-title-right">
                            <img src="/img/place.png" height="33px" alt="" />
                            <div class="market-writer-region">서울 강남구</div>
                        </div>
                    </div>
                    <div class="market-main-content">아기가 커서 이제 못 입는 옷들 나눔합니다 댓글 주세요 ^^</div>
                    <div class="market-main-btn">
                        <button type="button">작성</button>
                        <button type="button">수정</button>
                        <button type="button">삭제</button>
                        <button type="button">목록</button>
                    </div>
                </div>

                <!-- community comment -->
                <div class="market-comment">
                    <div class="market-comment-wrap">
                        <div class="market-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">말랑한 고구마</div>
                            <div class="comment-writer-content">1번 옷 거래하고 싶습니다 ~</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <div class="market-comment-wrap">
                        <div class="market-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">맑은아침햇살</div>
                            <div class="comment-writer-content">4번 옷 팔렸나요?</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <div class="market-comment-wrap">
                        <div class="market-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">마라탕먹고싶다</div>
                            <div class="comment-writer-content">옷들이 너무 귀엽네요 ㅎㅎ</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <div class="market-comment-wrap">
                        <div class="market-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">솜사탕</div>
                            <div class="comment-writer-content">2번 구매하고 싶습니다 ~!</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <form action="" class="market-comment-content market-comment-write-wrap">
                        <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                        <div class="comment-writer-nickname">바삭한 감자전</div>
                        <input class="write-comment-input" type="text" placeholder="댓글을 입력하세요" />
                        <button type="button" class="market-comment-write-btn">작성</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- footer -->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
