<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/header.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
        <link rel="stylesheet" th:href="@{/css/communityDetail.css}" />
        <script defer th:src="@{/js/header.js}"></script>
        <script defer th:src="@{/js/communityDetail.js}" ></script>
        <title>커뮤니티 상세</title>
    </head>
    <body>
        <!-- header -->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!-- main -->
        <div class="main">
            <div class="talk-wrapper">
                <!-- community header -->
                <div class="talk-header-wrap">
                    <div class="talk-header">
                        <img src="/img/핑구.jpg" width="40px" class="talk-writer-pic" />
                        <div class="talk-writer-nickname">바삭한 감자전</div>
                    </div>
                    <div class="talk-header">
                        <div class="talk-inform-look">
                            <div>조회수</div>
                            <div class="talk-inform-lookCnt">13</div>
                        </div>
                        <div class="talk-inform-recom">
                            <div>추천수</div>
                            <div class="talk-inform-recomCnt"></div>
                        </div>
                        <div class="talk-inform-date">
                            <div>작성일</div>
                            <div class="talk-inform-date">2023.12.05</div>
                        </div>
                    </div>
                </div>
                <!-- community main -->
                <div class="talk-main">
                    <div class="talk-main-title">안녕하세요!</div>
                    <div class="talk-main-content">안녕하세요 반갑습니다 바삭한 감자전입니다 :D</div>
                    <div class="talk-main-btn">
                        <div class="talk-left-btn-wrap">
                            <button type="button" class="recommend-btn">추천</button>
                        </div>
                        <div class="talk-right-btn-wrap">
                            <button type="button">작성</button>
                            <button type="button">수정</button>
                            <button type="button">삭제</button>
                            <button type="button">목록</button>
                        </div>
                    </div>
                </div>

                <!-- community comment -->
                <div class="talk-comment">
                    <div class="talk-comment-wrap">
                        <div class="talk-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">말랑한 고구마</div>
                            <div class="comment-writer-content">반갑습니다!</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <div class="talk-comment-wrap">
                        <div class="talk-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">맑은아침햇살</div>
                            <div class="comment-writer-content">환영합니다!</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <div class="talk-comment-wrap">
                        <div class="talk-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">마라탕먹고싶다</div>
                            <div class="comment-writer-content">안녕하세요!</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <div class="talk-comment-wrap">
                        <div class="talk-comment-content">
                            <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                            <div class="comment-writer-nickname">솜사탕</div>
                            <div class="comment-writer-content">hello!</div>
                            <div class="comment-writer-time">23.12.05</div>
                        </div>
                    </div>
                    <form action="" class="talk-comment-content talk-comment-write-wrap">
                        <img class="comment-writer-pic" src="/img/핑구.jpg" height="40px" />
                        <div class="comment-writer-nickname">바삭한 감자전</div>
                        <input class="write-comment-input" type="text" placeholder="댓글을 입력하세요" />
                        <button type="button" class="talk-comment-write-btn">작성</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- footer -->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
