<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/modal.css}" />
        <link rel="stylesheet" th:href="@{/css/mypage.css}" />
        <script defer th:src="@{/js/modal.js}"></script>
        <script defer th:src="@{/js/mypage.js}"></script>
        <title>마이페이지</title>
    </head>
    <body>
        <div class="modal">
            <div class="dropUserWrap">
                <div class="dropTitleWrap">
                    <div class="dropUserCloseBtn">X</div>
                    <div class="dropTitle">탈퇴시겠습니까?</div>
                    <div>당신의 모든 정보가 사라지며, 복구할 수 없습니다</div>
                </div>
                <div class="dropContentWrap">
                    <form name="drop" th:with="user=${#authentication.getPrincipal().getUser()}" th:action="@{/user/drop}" method="post" enctype="multipart/form-data" class="drop-content-wrap">
                        <input type="hidden" name="loginId" th:value="${user.loginId}"/>
                        <input type="text" name="password" class="drop-input" placeholder="비밀번호를 입력하세요"/>
                        <div class="login-warn"></div>
                        <input type="button" class="dropUserOk" value="탈퇴하기"/>
                    </form>
                </div>
            </div>
        </div>

        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* main */-->
        <main class="main">
            <div class="mypage-wrapper">
                <div class="mypage-title">마이페이지</div>
                <div class="mypage-content" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <div class="mypage-profile">
                        <div class="mypage-content-content">
                            <div>프로필사진</div>
                            <div class="picture-change-wrap">
                                <img style="border-radius:50%;" th:if="${userImg}" th:src="@{'/upload/'} + ${userImg.fileName}" width="80px" height="80px"/>
                                <!--프사 변경-->
                                <form method="POST" th:action="@{/user/userImg}" enctype="multipart/form-data">
                                    <label for="file" class="picture-btn">
                                        변경
                                    </label>
                                    <input style="display:none" accept="image/*" id="file" class="profile-pic" name="userImg" type="file"/>
                                    <input type="button" class="picture-change-btn picture-btn" value="저장" />
                                    <input type="button" class="picture-reset-btn picture-btn" value="초기화" />
                                </form>
                            </div>
                        </div>
                        <div class="mypage-content-content">
                            <div>닉네임</div>
                            <form name="nickChange" th:with="user=${#authentication.getPrincipal().getUser()}" th:action="@{/user/nickname}" method="post" enctype="multipart/form-data" class="nickname-change-wrap">
                                <input type="hidden" name="loginId" th:value="${user.loginId}"/>
                                <div class="nickname">[[${user.nickname}]]</div>
                                <input type="text" name="nickname" class="nickname-change-input" />
                                <div class="nickname-change-btn">✏️</div>
                                <input type="button" class="nickname-change-complete" value="완료" />
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="mypage-inform">
                        <div class="mypage-content-content">
                            <div>이름</div>
                            <div>[[${user.name}]]</div>
                        </div>
                        <div class="mypage-content-content">
                            <div>아이디</div>
                            <div>[[${user.loginId}]]</div>
                        </div>
                        <div class="mypage-content-content password-wrap">
                            <div>비밀번호</div>
                            <button type="button" class="change-password-btn">비밀번호 변경하기</button>
                            <form th:action="@{/user/password}" method="POST" name="pwChange" th:with="user=${#authentication.getPrincipal().getUser()}" class="change-pw-wrap">
                                <input type="hidden" name="loginId" th:value="${user.loginId}"/>
                                <div class="change-pw-content">
                                    <input type="text" name="password" placeholder="신규 비밀번호"/>
                                </div>
                                <div class="change-pw-content">
                                    <input type="text" name="rePassword" placeholder="비밀번호 확인"/>
                                </div>
                                <input type="button" class="change-pw-complete" value="완료" />
                            </form>
                        </div>

                        <div class="mypage-content-content">
                            <div>이메일</div>
                            <div>[[${user.email}]]</div>
                        </div>
                        <div class="mypage-content-content">
                            <div>가입일</div>
                            <div>[[${#temporals.format(user.createDate, 'yyyy-MM-dd HH:mm:ss')}]]</div>
                        </div>
                    </div>
                </div>
                <div class="drop-user">회원 탈퇴</div>
            </div>
        </main>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
