<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/signUp.css}" />
        <script defer th:src="@{/js/signUp.js}"></script>
        <title>회원가입</title>
    </head>
    <body>
        <div class="singup-wrapper">
            <a th:href="@{/home}"><img class="logo" src="/img/logo.png" /></a>
            <div class="signup-wrap">
                <form action="" class="signup-input-wrap">
                    <input type="text" placeholder="아이디" />
                    <div class="warn-message"></div>
                    <input type="text" placeholder="비밀번호" />
                    <div class="warn-message"></div>
                    <input type="text" placeholder="비밀번호 확인" />
                    <div class="warn-message"></div>
                    <input type="text" placeholder="이름" />
                    <div class="warn-message"></div>
                    <input type="text" placeholder="이메일" />
                    <div class="warn-message"></div>
                    <input type="text" placeholder="닉네임" />
                    <div class="warn-message"></div>
                </form>
                <div class="signup-btn">회원가입</div>
            </div>
        </div>
    </body>
</html>
