<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/signIn.css" />
        <script defer src="./js/signIn.js"></script>
        <title>로그인</title>
    </head>
    <body>
        <div class="login-wrapper">
            <img class="logo" src="./img/logo.png" />
            <div class="login-input-wrap">
                <form action="">
                    <input type="text" placeholder="아이디" />
                    <input type="password" placeholder="비밀번호" />
                </form>
                <div class="login-btn">로그인</div>
                <div class="login-menu-wrap">
                    <div>아이디 / 비밀번호 찾기</div>
                    <div>회원가입</div>
                </div>
            </div>
        </div>
    </body>
</html>
