<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/zzim.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer th:src="@{/js/zzim.js}"></script>
        <title>찜리스트</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <div id="zzim-wrap">
            <div id="txt-section">
                찜하고 확인해요! &nbsp;
                <span>찜리스트</span>
                <img src="/img/heart.png" height="35px" />
            </div>

            <div id="list-section">
                <div id="list-wrap">
                    <div class="list-content" th:each="zzim : ${zzims}">
                        <a th:href="@{'/together/detail?type=' + ${type} + '/id=' + ${zzim.together.id}}">
                            <div class="content-img" th:style="'background-image: url(' + ${zzim.together.MAIN_IMG} + ')'"></div>
                            <div class="content-title" th:text="${zzim.together.TITLE}"></div>
                            <div class="content-period" th:text="${zzim.together.DATE}"></div>
                        </a>
                        <form method="POST" th:action="@{/user/deleteZzim}" class="content-zzimBtn" name="zzimFrm">
                            <input type="hidden" th:value="${zzim.userId}" name="userId" />
                            <input type="hidden" th:value="${zzim.together.id}" name="togetherId" />
                            <svg
                                t="1689815540548"
                                class="icon"
                                viewBox="0 0 1024 1024"
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                p-id="2271"
                            >
                                <path
                                    d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z"
                                    fill="#231F20"
                                    p-id="2272"
                                    id="heart"
                                    class="zzim"
                                ></path>
                            </svg>
                        </form>
                    </div>
                </div>

                <th:block th:insert="~{fragment/pagination::pagination}"></th:block>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
