<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:unless="${post}" th:inline="javascript">
    location.href = "/post/list";
</script>

<block th:if="${post}" th:with="logged_user=${#authentication.principal.user}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/communityDetail.css}" />
        <script defer th:src="@{/js/communityDetail.js}" ></script>
        <title>커뮤니티 상세</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* main */-->
        <div class="main">
            <div class="talk-wrapper">
                <!--/* community header */-->
                <div class="talk-header-wrap">
                    <div class="talk-header">
                        <img src="/img/핑구.jpg" width="40px" class="talk-writer-pic" />
                        <div class="talk-writer-nickname" th:text="${post.user.nickname}"></div>
                    </div>
                    <div class="talk-header">
                        <div class="talk-inform-look">
                            <div>조회수</div>
                            <div class="talk-inform-lookCnt" th:text="${post.viewCnt}"></div>
                        </div>
                        <div class="talk-inform-recom">
                            <div>추천수</div>
                            <div class="talk-inform-recomCnt">???</div>
                        </div>
                        <div class="talk-inform-date">
                            <div>작성일</div>
                            <div class="talk-inform-date">[[${#temporals.format(post.createDate, 'yyyy-MM-dd')}]]</div>
                        </div>
                    </div>
                </div>

                <!--/* community main */-->
                <div class="talk-main">
                    <div class="talk-main-title" th:text="${post.title}"></div>
                    <div class="talk-main-content" th:text="${post.content}"></div>
                    <div class="talk-main-btn">
                        <div class="talk-left-btn-wrap">
                            <div class="raise-btn talk-btn">추천</div>
                        </div>
                        <div class="talk-right-btn-wrap">
                            <a th:href="@{/post/write}" class="talk-btn">작성</a>
                            <a th:href="@{/post/update}" class="talk-btn" th:if="${logged_user.id == post.user.id}">수정</a>
                            <form method="POST" name="detailDelete" th:action="@{/post/detailDelete}" th:if="${logged_user.id == post.user.id}">
                                <input type="hidden" name="id" th:value="${post.id}">
                                <input type="button" class="talk-btn delBtn" onclick="clickDetailDelBtn()" value="삭제"/>
                            </form>
                            <a th:href="@{/post/list}" class="talk-btn">목록</a>
                        </div>
                    </div>
                </div>

                <!--/* community comment */-->
                <th:block th:insert="~{post/comment::productComment}"></th:block>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</block>

</html>
