<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/communityList.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer th:src="@{/js/communityList.js}"></script>
        <title>커뮤니티</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <div id="communityList-wrap">

            <!-- raise alert modal -->
            <th:block>
                <div class="raise-alert-modal">
                    <div class="modal-wrap">
                        <img class="modal-close-btn" src="/img/close.png" width="10px;"/>
                        <div class="modal-text">
                            <span>커뮤니티</span> 또는 <span>알뜰시장</span>으로 <br>
                            이동할 수 있어요!
                        </div>
                    </div>
                </div>
            </th:block>

            <!-- content -->
            <div id="txt-section">
                질문하고 소통해요! &nbsp;
                <span>커뮤니티</span>
                <img src="/img/chat.png" height="30px" />
            </div>
            <div id="list-section">
                <div id="listHeader-wrap">
                    <div id="writeBtn">
                        <a th:href="@{/post/write}">작성하기</a>
                    </div>
                    <div id="frm-section">
                        <form name="searchFrm" autocomplete="off" th:action="@{/post/search}" method="post">
                            <button type="button" id="initial-btn">초기화</button>
                            <input type="text" id="search-input" placeholder="제목이나 작성자를 입력하세요" name="sq" th:value="${sq}" />
                            <button type="submit">
                                <img src="/img/search.png" height="25px" />
                            </button>
                        </form>

                        <form name="orderFrm">
                            <input type="hidden" id="search-input-val" name="sq" />
                            <select name="postOrderWay" id="postOrderWay">
                                <option value="최신순" th:selected="${postOrderWay == '최신순'}">최신순</option>
                                <option value="추천순" th:selected="${postOrderWay == '추천순'}">추천순</option>
                            </select>
                        </form>
                    </div>
                </div>

                <th:block th:unless="${posts}">
                    <div class="noPostWrap">
                        <img src="/img/notFound2.png" width="50px;">
                        <div>검색 결과가 없습니다</div>
                        <a th:href="@{/post/list}">뒤로 가기</a>
                    </div>
                </th:block>

                <div th:if="${posts}" id="list-wrap">
                    <div id="thead">
                        <p>NO</p>
                        <p>제목</p>
                        <p>작성자</p>
                        <p>조회수</p>
                        <p>추천수</p>
                        <p>작성일</p>
                    </div>

                    <ul id="tbody">
                        <li class="list-content" th:each="post, iterState : ${posts}">
                            <p class="post-no" th:text="${(page - 1) * rowsPerPage + (iterState.index + 1)}"></p>
                            <p class="post-title">
                                <a th:href="@{'/post/detail/' + ${post.id}}" th:text="${post.title}"></a>
                            </p>
                            <p class="post-writer" th:text="${post.user.nickname}"></p>
                            <p class="post-viewCnt" th:text="${post.viewCnt}"></p>
                            <p class="post-rcmCnt" th:text="${post.recommendCnt}"></p>
                            <p class="post-date" th:text="${#temporals.format(post.createDate, 'yy.MM.dd')}"></p>
                        </li>
                    </ul>
                </div>

                <th:block th:insert="~{fragment/raisePagination::raisePagination}"></th:block>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
