<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/find.css" />
        <script defer src="./js/find.js"></script>
        <title>아이디/비밀번호 찾기</title>
    </head>
    <body>
        <div class="all-wrapper">
            <img class="logo" src="./img/logo.png" />
            <div class="find-inform-wrap">
                <div class="find-wrap">
                    <div class="find-title">1️⃣ 아이디 찾기</div>
                    <div class="find-content-wrap">
                        <div class="find-content-title">
                            <div>이메일로 찾기</div>
                            <div>
                                <div class="menu-open">▼</div>
                                <div class="menu-close">▲</div>
                            </div>
                        </div>
                        <div class="find-content-hidden">
                            <form class="find-input-wrap" action="">
                                <input type="text" placeholder="이름을 입력하세요" />
                                <input type="text" placeholder="이메일을 입력하세요" />
                            </form>
                            <div class="find-btn">확인</div>
                        </div>
                    </div>
                </div>
                <div class="find-wrap">
                    <div class="find-title">2️⃣ 비밀번호 찾기</div>
                    <div class="find-content-all">
                        <div class="find-content-wrap">
                            <div class="find-content-title">
                                <div>아이디로 찾기</div>
                                <div>
                                    <div class="menu-open">▼</div>
                                    <div class="menu-close">▲</div>
                                </div>
                            </div>
                            <div class="find-content-hidden">
                                <form class="find-input-wrap" action="">
                                    <input type="text" placeholder="이름을 입력하세요" />
                                    <input type="text" placeholder="아이디를 입력하세요" />
                                </form>
                                <div class="find-btn">확인</div>
                            </div>
                        </div>
                        <div class="find-content-wrap">
                            <div class="find-content-title">
                                <div>이메일로 찾기</div>
                                <div>
                                    <div class="menu-open">▼</div>
                                    <div class="menu-close">▲</div>
                                </div>
                            </div>
                            <div class="find-content-hidden">
                                <form class="find-input-wrap" action="">
                                    <input type="text" placeholder="이름을 입력하세요" />
                                    <input type="text" placeholder="이메일을 입력하세요" />
                                </form>
                                <div class="find-btn">확인</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
