<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/home.css}" />
        <script defer th:src="@{/js/home.js}"></script>
        <title>우리아이</title>
    </head>
    <body>
        <div class="home-page1">
            <div class="home-header">
                <ul class="headerBtnWrap">
                    <li>
                        <a th:href="@{/user/zzim}"><img class="headerBtn heart" src="/img/zzimBtn.png" height="35px" /></a>
                    </li>
                    <li>
                        <a th:href="@{/user/mypage}"><img class="headerBtn" src="/img/me.png" height="35px" /></a>
                    </li>
                    <li>
                        <a th:href="@{/user/logIn}"><img sec:authorize="isAnonymous()" class="headerBtn" src="/img/loginBtn.png" height="35px" /></a>
                    </li>
                    <li>
                        <form th:action="@{/doLogout}" method="POST" sec:authorize="isAuthenticated()">
                            <button type="submit" class="headerBtn logoutBtn"><img src="/img/logoutBtn.png" class="logoutBtn" height="35px"></button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="home-main">
                <div class="logo-wrap">
                    <img class="logo" src="/img/logo.png" />
                </div>
                <div class="home-main-menu">
                    <div class="main-menu-wrap">
                        <a th:href="@{/together/list}" class="main-menu together">함께하기</a>
                        <div class="main-detail">체험, 축제, 공연 둘러보기</div>
                    </div>
                    <div class="main-menu-wrap">
                        <a th:href="@{/protect/list}" class="main-menu protect">지켜주기</a>
                        <div class="main-detail">돌봄시설 살펴보기</div>
                    </div>
                    <div class="main-menu-wrap">
                        <a th:href="@{/post/list}" class="main-menu raise">같이키우기</a>
                        <div class="main-detail">커뮤니티, 알뜰시장 구경하기</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-page2">
            <div class="home-page2-title">HOT 5 몰아보기</div>
            <div class="all-graph-wrap">
                <div class="graph-wrap">
                    <div class="graph-title">ZZIM <span>HOT 5 🔥</span></div>
                    <div class="graph table">
                        <ul class="postTopWrap zzimTopWrap">
                            <li>No</li>
                            <li>분류</li>
                            <li>프로그램명</li>
                            <li>찜개수</li>
                        </ul>
                        <ul th:each="zzim5 : ${zzimHotFive}" class="postTopWrap zzimTopWrap">
                            <li class="grade"></li>
                            <li class="overflow" th:text="${zzim5.type}"></li>
                            <li class="overflow"><a class="postTitle" th:href="@{'/together/detail/' + ${zzim5.type} + '/' + ${zzim5.id}}" th:text="${zzim5.TITLE}"></a></li>
                            <li th:text="${zzim5.zzimCnt}"></li>
                        </ul>
                    </div>
                </div>

                <!-- 바뀔 거임 -->
                <div class="change-wrap">
                    <div class="graph-wrap">
                        <div class="graph-title">유치원 지역 <span>HOT 5 🔥</span></div>
                        <div class="graph">
                            <div>
                                <div th:each="kinder : ${kindergarden}">
                                    <input type="hidden" id="value1" th:value="${kinder.ADDR}"/>
                                </div>
                            </div>
                            <div class="barGraph">
                                <div class="graphBar1"></div>
                                <div class="graphText1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="graph-wrap">
                        <div class="graph-title">어린이집 지역 <span>HOT 5 🔥</span></div>
                        <div class="graph">
                            <div>
                                <div th:each="child : ${childHouse}">
                                    <input type="hidden" id="value2" th:value="${child.CRADDR}"/>
                                </div>
                            </div>
                            <div class="barGraph">
                                <div class="graphBar2"></div>
                                <div class="graphText2"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!------------>
                <div class="graph-wrap">
                    <div class="graph-title">커뮤니티 추천 <span>HOT 5 🔥</span></div>
                    <div class="graph table">
                        <ul class="postTopWrap">
                            <li>No</li>
                            <li>제목</li>
                            <li>작성자</li>
                            <li>추천수</li>
                        </ul>
                        <ul th:each="post5 : ${postHotFive}" class="postTopWrap">
                            <li class="grade"></li>
                            <li class="overflow"><a class="postTitle" th:href="@{'/post/detail/' + ${post5.id}}" th:text="${post5.title}"></a></li>
                            <li class="overflow" th:text="${post5.user.nickname}"></li>
                            <li th:text="${post5.recommendCnt}"></li>
                        </ul>
                    </div>
                </div>
                <div class="graph-wrap">
                    <div class="graph-title">알뜰시장 조회 <span>HOT 5 🔥</span></div>
                    <div class="graph table">
                        <ul class="postTopWrap">
                            <li>No</li>
                            <li>물품</li>
                            <li>작성자</li>
                            <li>조회수</li>
                        </ul>
                        <ul th:each="product5 : ${productHotFive}" class="postTopWrap">
                            <li class="grade"></li>
                            <li class="overflow"><a class="postTitle" th:href="@{'/product/detail/' + ${product5.id}}" th:text="${product5.productName}"></a></li>
                            <li class="overflow" th:text="${product5.user.nickname}"></li>
                            <li th:text="${product5.viewCnt}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
