<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/home.css" />
        <link rel="stylesheet" href="./css/footer.css" />
        <script defer src="./js/home.js"></script>
        <title>우리아이</title>
    </head>
    <body>
        <div class="home-page1">
            <div class="home-header">
                <ul class="headerBtnWrap">
                    <li>
                        <img class="headerBtn heart" src="./img/zzimBtn.png" height="35px" />
                    </li>
                    <li>
                        <img class="headerBtn" src="./img/me.png" height="35px" />
                    </li>
                    <li>
                        <img class="headerBtn" src="./img/loginBtn.png" height="35px" />
                    </li>
                    <li>
                        <img class="headerBtn logoutBtn" src="./img/logoutBtn.png" height="35px" />
                    </li>
                </ul>
            </div>
            <div class="home-main">
                <div class="logo-wrap">
                    <img class="logo" src="./img/logo.png" />
                </div>
                <div class="home-main-menu">
                    <div class="main-menu-wrap">
                        <div class="main-menu together">함께하기</div>
                        <div class="main-detail">체험, 축제, 공연 둘러보기</div>
                    </div>
                    <div class="main-menu-wrap">
                        <div class="main-menu protect">지켜주기</div>
                        <div class="main-detail">돌봄시설 살펴보기</div>
                    </div>
                    <div class="main-menu-wrap">
                        <div class="main-menu raise">같이키우기</div>
                        <div class="main-detail">커뮤니티, 알뜰시장 구경하기</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-page2">
            <div class="home-page2-title">HOT 5 몰아보기</div>
            <div class="all-graph-wrap">
                <div class="graph-wrap">
                    <div class="graph-title">ZZIM <span>HOT 5 🔥</span></div>
                    <div class="graph">GRAPH</div>
                </div>
                <div class="graph-wrap">
                    <div class="graph-title">함께하기 조회 <span>HOT 5 🔥</span></div>
                    <div class="graph">GRAPH</div>
                </div>
                <div class="graph-wrap">
                    <div class="graph-title">커뮤니티 조회 <span>HOT 5 🔥</span></div>
                    <div class="graph">GRAPH</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerBtn">이용약관</div>
            <div>|</div>
            <div class="footerBtn">개인정보 처리방침</div>
            <div>ⓒ BasagHMPJ</div>
        </div>
    </body>
</html>
