<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/header.css" />
        <link rel="stylesheet" href="./css/togetherDetail.css" />
        <link rel="stylesheet" href="./css/footer.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer src="./js/header.js"></script>
        <script defer src="./js/togetherDetail.js"></script>
        <title>함께하기 상세</title>
    </head>
    <body>
        <!-- header -->
        <header>
            <div class="header">
                <ul class="headerBtnWrap">
                    <img class="headerBtn" src="./img/logo.png" alt="" height="80px" />
                    <li class="menuWrap headerBtn">
                        <div class="menuTitleWrap">
                            <div class="menuText togetherBtn">함께하기</div>
                            <div class="menuText protectBtn">지켜주기</div>
                            <div class="menuText raiseBtn">같이키우기</div>
                        </div>
                    </li>
                </ul>
                <ul class="headerBtnWrap">
                    <li>
                        <img class="raiseToggle talkToggle" title="community" src="./img/toggleC.png" height="30px" />
                        <img class="raiseToggle marketToggle" title="market" src="./img/toggleM.png" height="30px" />
                    </li>
                    <li>
                        <img class="rightHeaderBtn" src="./img/zzimBtn.png" height="35px" />
                    </li>
                    <li>
                        <img class="rightHeaderBtn" src="./img/me.png" height="35px" />
                    </li>
                    <li>
                        <img class="rightHeaderBtn" src="./img/loginBtn.png" height="35px" />
                    </li>
                    <li>
                        <img class="logoutBtn rightHeaderBtn" src="./img/logoutBtn.png" height="35px" />
                    </li>
                </ul>
            </div>
        </header>
        <!-- section -->
        <div id="togetherDetail-wrap">
            <div id="route-wrap">
                <p>체험</p>
                <img src="./img/rightArrow.png" alt="rightArrow" />
                <p>마포아트센터 M 레트로 시리즈 2024 신년맞이 어떤가요 #7</p>
                <!-- TITLE -->
            </div>

            <div id="detail-wrap">
                <div id="img-wrap">
                    <div id="img"></div>
                    <!-- MAIN_IMG -->
                    <div id="zzimBtn">
                        <svg
                            t="1689815540548"
                            class="icon"
                            viewBox="0 0 1024 1024"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            p-id="2271"
                        >
                            <path
                                d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z"
                                fill="#231F20"
                                p-id="2272"
                                id="heart"
                            ></path>
                        </svg>
                    </div>
                </div>

                <div id="txt-wrap">
                    <div id="txt-title">마포아트센터 M 레트로 시리즈 2024 신년맞이 어떤가요 #7 sdfssfdsfsdfsfd</div>
                    <!-- TITLE -->
                    <div id="txt-list">
                        <div id="txt-list-title">
                            <p>장소</p>
                            <p>기관명</p>
                            <p>자치구</p>
                            <p>기간</p>
                            <p>이용대상</p>
                            <p>이용요금</p>
                            <p>홈페이지</p>
                        </div>
                        <div id="txt-list-content">
                            <p>0-31 강남 전시실,주소:서울특별시 강남구 역삼로7길 16, 역삼1문화센터 1층 dfdfdffdfdfdfdfdfd</p>
                            <!-- PLACE -->
                            <p>마포문화재단</p>
                            <!-- ORG_NAME -->
                            <p>마포구</p>
                            <!-- GUNAME -->
                            <p>2024-11-09 ~ 2024-01-28</p>
                            <!-- DATE -->
                            <p>어린이</p>
                            <!-- USE_TRGT -->
                            <p>5000 원</p>
                            <!-- USE_FEE -->
                            <p>
                                <a
                                    href="https://www.sfac.or.kr/participation/sfac_program.do?pageIndex=&eduMstSeq=33218&eduScheSeq=&mode=VIEW&mstStatus=&eduGubunSel="
                                    >바로가기
                                </a>
                                <!-- ORG_LINK -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="map-wrap"></div>
            <!-- 위도 : LOT / 경도 : LAT -->
        </div>

        <!-- footer -->
        <div class="footer">
            <div class="footerBtn">이용약관</div>
            <div>|</div>
            <div class="footerBtn">개인정보 처리방침</div>
            <div>ⓒ BasagHMPJ</div>
        </div>
    </body>
</html>
