
.main img {
    border-radius: 50%;
}

.talk-wrapper {
    width: 1200px;
    margin: 30px auto 0;
}

/* community header */
.talk-header-wrap {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.talk-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk-header div {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}

/* community main */
.talk-main {
    margin: 20px 0 80px;
}

.talk-main-title {
    font-size: 35px;
    font-weight: 600;

    border-top: 1.5px solid var(--border-color);
    padding-top: 20px;
}

.talk-main-content {
    border-top: 1.5px solid var(--border-color);
    border-bottom: 1.5px solid var(--border-color);
    font-size: 18px;
    padding: 20px 0;
    margin: 20px 0;
    height: 200px;
}

.talk-main-btn {
    display: flex;
    justify-content: space-between;
}

.talk-btn {
    height: 35px;
    width: 50px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    background-color: var(--light-raise);

    display: flex;
        justify-content: center;
        align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.talk-main-btn > div {
    display: flex;
}

/* community comment */
.talk-comment {
    margin-top: 50px;
}

.talk-comment-content {
    background-color: var(--comment-color);
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    font-size: 15px;
}

.talk-comment-write-wrap> .comment-writer-nickname {
    width: 19%;
}

.talk-comment-write-wrap {
    display: flex;
    align-items: center;
    background-color: var(--light-raise);
}

.write-comment-input {
    width: 71.4%;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.write-comment-input:focus {
    border:2px solid var(--raise-btn);
}

.comment-writer-pic {
    margin-right: 10px;
}

.comment-writer-nickname {
    width: 20%;
}

.comment-writer-content {
    width: 70%;
}

.talk-comment-content > .raise-btn {
    background-color: var(--raise-btn);
    height: 35.33px;
    width: 50px;
    margin-left: 15px;

    &:hover {
        background-color: var(--raise-color);
        cursor: pointer;
    }
}

.comment-delete-btn {
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    background: salmon;
    height: 35px;
    width: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;

    &:hover {
        cursor: pointer;
    }
}

/* 추천 비추천 */
.recommend > input:last-child {
    background-color: var(--raise-btn);
    border:2px solid var(--raise-btn);
    margin: 0;
}

.opposite > input:last-child  {
    background-color: white;
    border:2px solid var(--raise-btn);
    margin: 0;
}