@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
    --together-color: rgb(99, 218, 83);
    --protect-color: rgb(255, 116, 139);
    --raise-color: rgb(255, 196, 0);
    --cloud-color: rgb(94, 193, 255);
    --light-cloud: rgb(209, 236, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}

img:hover {
    cursor: pointer;
}

/* ------------- home page1 ------------ */

.home-page1 {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

/* header */
.home-header {
    width: 1200px;
    height: 120px;
    padding-top: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerBtnWrap {
    display: flex;
    list-style: none;
}

.headerBtn {
    margin-left: 8px;
}

.heart {
    margin-right: 5px;
}

.logoutBtn {
    display: none;
}

/* main-logo */
.logo-wrap {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 280px;
}

/* main-btn */
.home-main {
    margin: 0 auto;
    width: 1200px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}

.home-main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    column-gap: 50px;
}

.main-menu-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-menu-wrap > div:first-of-type {
    font-weight: 900;
    font-size: 40px;
    margin: 0 40px;
    padding: 30px 40px;
    border-radius: 100px;
    background-color: var(--light-cloud);
    color: var(--cloud-color);
    z-index: 100;
}

.main-menu-wrap > div:first-of-type:hover {
    scale: calc(1.1); /* scale : 비율대로 커지기 */
    cursor: pointer;
}

.main-protect {
    color: var(--protect-color);
    background-color: rgb(255, 227, 231);
}
.main-raise {
    color: var(--raise-color);
    background-color: rgb(255, 245, 204);
}

.main-menu-wrap > .main-detail {
    margin: 10px 0;
    position: absolute;
    top: 80px;
}

/* main-menu 색 바꾸기 */
.togetherColor {
    animation: together 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes together {
    from {
        background-color: var(--light-cloud);
        color: var(--cloud-color);
    }
    to {
        color: var(--together-color);
        background-color: rgb(211, 255, 224);
    }
}
.protectColor {
    animation: protect 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes protect {
    from {
        background-color: var(--light-cloud);
        color: var(--cloud-color);
    }
    to {
        color: var(--protect-color);
        background-color: rgb(255, 227, 231);
    }
}
.raiseColor {
    animation: raise 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes raise {
    from {
        background-color: var(--light-cloud);
        color: var(--cloud-color);
    }
    to {
        color: var(--raise-color);
        background-color: rgb(255, 245, 204);
    }
}

/* main-detail 움직이기 */
.slideDetailUp {
    animation: slideUp 0.1s ease-in;
}

@keyframes slideUp {
    from {
        top: 120px;
    }
    to {
        top: 80px;
    }
}
.slideDetailDown {
    animation: slideDown 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    from {
        top: 80px;
    }
    to {
        top: 120px;
    }
}

/* ------------- home page2 ------------ */
.home-page2 {
    background-color: pink;
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page2-title {
    font-size: 40px;
    font-weight: 900;
    margin: 40px;
    color: rgb(255, 83, 112);
}

.all-graph-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 하나의 그래프 */
.graph-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.graph-wrap > .graph-title {
    font-weight: 800;
    font-size: 25px;
    margin: 20px;
}

.graph-wrap > .graph-title > span {
    color: red;
}

.graph-wrap > .graph {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-height: 700px) {
    .logo {
        height: 210px;
    }

    .home-main {
        row-gap: 0;
    }

    .home-main-menu {
        column-gap: 0;
    }
}
