
.main {
    position: relative;
}

.main img {
    border-radius: 50%;
}

.market-wrapper {
    width: 1200px;
    margin: 30px auto 0;
    border-radius: 7px;
}

/* market header */
.market-header-wrap {
    display: flex;
    justify-content: space-between;
}

.market-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.market-header div {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}

/* market main */
.market-main {
    margin: 20px 0;
}

.market-main-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1.5px solid var(--border-color);
    padding-top: 20px;
}

.market-writer-title-left {
    display: flex;
    align-items: center;
}

.market-writer-title-right {
    display: flex;
    align-items: center;
}

.market-writer-region {
    margin-left: 10px;
}

.market-writer-price {
    margin-right: 15px;
    background-color: var(--raise-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 30px;
    color: white;
}

.market-main-title-wrap > div {
    font-size: 35px;
    font-weight: 600;
}

.market-main-content {
    border-top: 1.5px solid var(--border-color);
    border-bottom: 1.5px solid var(--border-color);
    font-size: 18px;
    padding: 40px 0;
    margin: 20px 0;
}

.market-btn {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    background-color: var(--light-raise);

    &:first-of-type {
        margin-left: 0;
    }
}

.market-main-btn {
    display: flex;
    justify-content: end;
}

/* market comment */
.market-comment {
    margin-top: 50px;
}

.market-comment-content {
    background-color: var(--comment-color);
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    font-size: 15px;
}

.market-comment-write-wrap {
    display: flex;
    align-items: center;
    background-color: var(--light-raise);
}

.market-comment-write-wrap> .comment-writer-nickname {
    width: 19%;
}

.write-comment-input {
    width: 71.4%;
    margin-right: 15px;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.write-comment-input:focus {
    border:2px solid var(--raise-btn);
}

.comment-writer-pic {
    margin-right: 10px;
}

.comment-writer-nickname {
    width: 20%;
}

.comment-writer-content {
    width: 70%;
}

.raise-btn {
    background-color: var(--raise-btn);

    &:hover {
        background-color: var(--raise-color);
    }
}
