
.talk-writer-pic {
    border-radius: 50%;
}

.talk-wrapper {
    width: 1200px;
    margin: 30px auto 0;
}

/* market header */
.talk-header {
    display: flex;
    align-items: center;
}

.talk-header div {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}

/* market write */
[name="market-write-form"] {
    position: relative;
}

.market-write-wrap {
    display: flex;
    margin: 20px auto;
    border-bottom: 1.5px solid var(--border-color);
    padding-bottom: 20px;
}

.write-info > :nth-child(1) {
    width: 15%;
    border-right: 1.5px solid var(--border-color);
}
.write-info > :nth-child(2) {
    width: 71%;
    margin-left: 30px;
    border-right: 1.5px solid var(--border-color);
}
.write-info > :nth-child(3) {
    width: 14%;
    margin-left: 15px;
    margin-right: 17px;
}

.write-info input,
#gu-select-btn {
    font-size: 35px;
    font-weight: 600;
    border: none;
    outline: none;
}
#gu-select-btn.clicked {
    color: #333;
}
.write-info input::placeholder {
    color: var(--input-placeholder);
}

#gu-select-wrap {
    position: relative;
}
#gu-select-btn {
    text-align: center;
    color: var(--input-placeholder);
    cursor: pointer;

    &:hover {
         color: #333;
     }
}
#gu-wrap {
    display: none;
    position: absolute;
    width: 193px;
    height: 220px;
    top: 71px;
    left: -16px;
    font-size: 18px;
    border-radius: 0 0 5px 5px;
    overflow: scroll;
    z-index: 10;

    &::-webkit-scrollbar {
         display: none;
     }
}

#gu-wrap > .gu {
    width: 100%;
    height: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 48px;
    border-bottom: 1.5px solid white;
    background-color: var(--light-raise);
    cursor: pointer;
}
#gu-wrap > .gu:last-child {
    border-bottom: none;
}
#gu-wrap > .gu.clicked {
    background-color: var(--raise-btn);
}

.err-wrap {
    display: flex;
    column-gap: 30px;
    margin-top: -15px;
}
.err-wrap p {
    font-size: 14px;
    color: red;
}
.err-wrap > :nth-child(1) {
    width: 15%;
}
.err-wrap > :nth-child(2) {
    width: 71%;
}
.err-wrap > :nth-child(3) {
    width: 14%;
}

.content-wrap {
    display: block;
}
.content-wrap > p {
    margin-top: 6px;
    font-size: 14px;
    color: red;
}

.attachment-file-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11px;
}

.attachment-file-wrap > img {
    width: 162px;
    border: 1.5px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.write-btn-wrap {
    display: flex;
}
