.modal {
    visibility: hidden;
    background-color: rgba(210, 210, 210, 0.635);
    width: 100%;
    height: 100%;
    position: fixed;
    /* ▲ 창 크기 줄이면 모달이 이상하지 않게 하기 */
    top: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropUserWrap {
    width: 388px;
    background-color: white;
    border-radius: 7px;
    padding: 25px;
}

.dropUserCloseBtn {
    font-weight: 800;
    font-size: 20px;
    float: right;

    &:hover {
        cursor: pointer;
    }
}

.dropTitleWrap {
    margin-bottom: 20px;
    width: 100%;
}

.dropTitleWrap > div {
    text-align: center;
    font-size: 12px;

    &:first-of-type {
        font-size: 20px;
    }

    &:nth-child(2) {
        font-weight: 600;
        font-size: 20px;
        color: rgb(203, 34, 34);
    }
}

.dropContentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropContentWrap > form {
    width: 100%;
}

.dropContentWrap > form > input {
    width: 100%;
    padding: 5px 7px;
    outline: none;
    border: 1px solid #333;
    border-radius: 3px;
}

.dropUserOk {
    background-color: rgb(229, 99, 99);
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgb(230, 67, 67);
    }
}
