
.singup-wrapper {
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-input-wrap {
    display: flex;
    flex-direction: column;
}

.signup-input-wrap > input {
    width: 400px;
    height: 50px;
    background-color: var(--light-gray);
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    outline: none;

    &::placeholder {
        color: var(--input-placeholder);
    }
}

/* signup btn */
.signup-input-wrap > .signup-btn {
    background-color: var(--cloud-color);
    color: white;
    border-radius: 3px;
    height: 50px;
    margin: 15px 0 0;
    font-weight: 700;
    font-size: 17px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--cloud-hover);
        cursor: pointer;
    }
}

@media screen and (max-height: 700px) {
    .singup-wrapper {
        height: inherit;
        margin: 50px auto;
    }
}

