
/* ------------------------------------------------------------ */

#togetherDetail-wrap {
    margin: 30px auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}

#route-wrap {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 24px;
}
#route-wrap > img {
    width: 20px;
    height: 20px;
}

#detail-wrap {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
#img-wrap {
    position: relative;
}
#img {
    width: 400px;
    height: 560px;
    background: url(../img/imageSrc.png) no-repeat center / cover;
    border-radius: 10px;
}
#zzimBtn {
    position: absolute;
    right: 25px;
    bottom: 15px;
}
svg {
    width: 60px;
}
#heart {
    fill: white;
    stroke: #333;
    stroke-width: 60px;
    cursor: pointer;
}

#txt-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    overflow: hidden;
}
#txt-title {
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#txt-list {
    display: flex;
    column-gap: 50px;
}
#txt-list p {
    height: 55px;
    line-height: 55px;
}
#txt-list-title {
    font-size: 20px;
    font-weight: 500;
}
#txt-list-title p {
    width: 80px;
}
#txt-list-content {
    font-size: 18px;
    overflow: hidden;
}
#txt-list-content > p:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#txt-list-content > :last-child > a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

#map-wrap {
    height: 500px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 10px;
}
