<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/protectDetail.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer th:src="@{/js/protectDetail.js}" ></script>
        <title>지켜주기 상세</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <div id="protectDetail-wrap">
            <div id="route-wrap">
                <p th:text="${type}"></p>
                <img src="/img/rightArrow.png" />
                <p th:if="${kindergarden}" th:text="${kindergarden.KINDERNAME}"></p>
                <p th:if="${childHouse}" th:text="${childHouse.CRNAME}"></p>
            </div>

            <div id="detail-wrap" th:if="${kindergarden}">
                <div id="map-wrap">
                    <div id="map"></div>
                </div>

                <div id="txt-wrap">
                    <div id="txt-title" th:text="${kindergarden.KINDERNAME}"></div>
                    <div id="txt-list">
                        <div id="txt-list-title">
                            <p>주소</p>
                            <p>설립유형</p>
                            <p>운영시간</p>
                            <p>원장명</p>
                            <p>개원일</p>
                            <p>전화번호</p>
                            <p>홈페이지</p>
                        </div>
                        <div id="txt-list-content">
                            <p th:text="${kindergarden.ADDR}"></p>
                            <p th:text="${kindergarden.ESTABLISH}"></p>
                            <p th:text="${kindergarden.OPERTIME}"></p>
                            <p th:text="${kindergarden.LDGRNAME}"></p>
                            <p th:text="${#strings.replace(kindergarden.ODATE, ' 00:00:00', '')}"></p>
                            <p class="protect-tell" th:text="${kindergarden.TELNO}"></p>
                            <p>
                                <a th:if="${not #strings.isEmpty(kindergarden.HPADDR)}" th:href="${kindergarden.HPADDR}" target="_blank">바로가기 </a>
                                <span th:unless="${not #strings.isEmpty(kindergarden.HPADDR)}">-</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="detail-wrap" th:if="${childHouse}">
                <div id="map-wrap">
                    <div id="map"></div>
                </div>

                <div id="txt-wrap">
                    <div id="txt-title" th:text="${childHouse.CRNAME}"></div>
                    <div id="txt-list">
                        <div id="txt-list-title">
                            <p>주소</p>
                            <p>설립유형</p>
                            <p>보육실수</p>
                            <p>현원/정원</p>
                            <p>통학차량</p>
                            <p>전화번호</p>
                            <p>홈페이지</p>
                        </div>
                        <div id="txt-list-content" th:if="${childHouse}">
                            <p th:text="${childHouse.CRADDR}"></p>
                            <p th:text="${childHouse.CRTYPENAME}"></p>
                            <p th:text="${childHouse.NRTRROOMCNT}"></p>
                            <p th:text="${childHouse.CRCHCNT} + '/' + ${childHouse.CRCAPAT}"></p>
                            <p th:text="${#strings.isEmpty(childHouse.CRCARGBNAME)} ? '-' : ${childHouse.CRCARGBNAME}"></p>
                            <p class="protect-tell" th:text="${#strings.isEmpty(childHouse.CRTELNO)} ? '-' : ${childHouse.CRTELNO}"></p>
                            <p>
                                <a th:if="${not #strings.isEmpty(childHouse.CRHOME)}" th:href="${childHouse.CRHOME}" target="_blank">바로가기 </a>
                                <span th:unless="${not #strings.isEmpty(childHouse.CRHOME)}">-</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
