<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/protectDetail.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>지켜주기 상세</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <!--/* 유치원 상세 */-->
        <div id="protectDetail-wrap">
            <div id="route-wrap">
                <p>유치원</p>
                <img src="/img/rightArrow.png" />
                <p>서울솔방울유치원</p> <!--/* KINDERNAME */-->
            </div>

            <div id="detail-wrap">
                <div id="map-wrap">
                    <div id="map"></div>
                </div>
                <!--/* 위도, 경도 X */-->

                <div id="txt-wrap">
                    <div id="txt-title">서울솔방울유치원</div> <!--/* KINDERNAME */-->
                    <div id="txt-list">
                        <div id="txt-list-title">
                            <p>주소</p>
                            <p>설립유형</p>
                            <p>운영시간</p>
                            <p>원장명</p>
                            <p>개원일</p>
                            <p>전화번호</p>
                            <p>홈페이지</p>
                        </div>
                        <div id="txt-list-content">
                            <p>서울특별시 송파구 오금로24길 25</p> <!--/* ADDR */-->
                            <p>공립(단설)</p> <!--/* ESTABLISH */-->
                            <p>07시00분 ~ 20시00분</p> <!--/* OPERTIME */-->
                            <p>이수이</p> <!--/* LDGRNAME */-->
                            <p>20210301</p> <!--/* ODATE */-->
                            <p>02-6481-6001</p> <!--/* TELNO */-->
                            <p>
                                <a href="https://www.서울솔방울유치원.kr:497/home/">바로가기 </a>
                                <!--/* HPADDR */-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
