<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/protectList.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer th:src="@{/js/protectList.js}"></script>
        <title>지켜주기</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <div id="protectList-wrap">
            <div id="txt-section">
                <img id="img" src="/img/ribbon-pink.png" height="190px">
                <div id="txt-title">지켜주기</div>
                <form id="banner-section" name="typeFrm">
                    <input type="hidden" id="type-val-input" name="type" />

                    <div class="type-outline">
                        <div class="type active">유치원</div>
                    </div>
                    <div class="type-outline">
                        <div class="type">어린이집</div>
                    </div>
                    <div class="type-outline">
                        <div class="type">아동센터</div>
                    </div>
                </form>
            </div>

            <div id="list-section">
                <div id="list-wrap">
                    <div id="thead">
                        <p>NO</p>
                        <p>시설명</p>
                        <p>주소</p>
                        <p>연락처</p>
                    </div>

                    <ul id="tbody" th:if="${kindergardens}">
                        <li class="list-content" th:each="kindergarden, iterState : ${kindergardens}">
                            <p class="content-no" th:text="${(page - 1) * rowsPerPage + (iterState.index + 1)}"></p>
                            <p class="content-title">
                                <a  th:href="@{'/protect/detail/' + ${type} + '/' + ${kindergarden.id}}" th:text="${kindergarden.KINDERNAME}"></a>
                            </p>
                            <p class="content-address" th:text="${kindergarden.ADDR}"></p>
                            <p class="content-number" th:text="${kindergarden.TELNO}"></p>
                        </li>
                    </ul>
                </div>

                <th:block th:insert="~{fragment/protectPagination::protectPagination}"></th:block>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
