<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/header.css" />
        <link rel="stylesheet" href="./css/protectDetail.css" />
        <link rel="stylesheet" href="./css/footer.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer src="./js/header.js"></script>
        <title>지켜주기 상세</title>
    </head>
    <body>
        <!-- header -->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!-- section -->
        <!-- 유치원 상세 -->
        <div id="protectDetail-wrap">
            <div id="route-wrap">
                <p>유치원</p>
                <img src="./img/rightArrow.png" alt="rightArrow" />
                <p>서울솔방울유치원</p>
                <!-- KINDERNAME -->
            </div>

            <div id="detail-wrap">
                <div id="map-wrap">
                    <div id="map"></div>
                </div>
                <!-- 위도, 경도 X -->

                <div id="txt-wrap">
                    <div id="txt-title">서울솔방울유치원</div>
                    <!-- KINDERNAME -->
                    <div id="txt-list">
                        <div id="txt-list-title">
                            <p>주소</p>
                            <p>설립유형</p>
                            <p>운영시간</p>
                            <p>원장명</p>
                            <p>개원일</p>
                            <p>전화번호</p>
                            <p>홈페이지</p>
                        </div>
                        <div id="txt-list-content">
                            <p>서울특별시 송파구 오금로24길 25</p>
                            <!-- ADDR -->
                            <p>공립(단설)</p>
                            <!-- ESTABLISH -->
                            <p>07시00분 ~ 20시00분</p>
                            <!-- OPERTIME -->
                            <p>이수이</p>
                            <!-- LDGRNAME -->
                            <p>20210301</p>
                            <!-- ODATE -->
                            <p>02-6481-6001</p>
                            <!-- TELNO -->
                            <p>
                                <a href="https://www.서울솔방울유치원.kr:497/home/">바로가기 </a>
                                <!-- HPADDR -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section -->
        <!-- 어린이집 상세 -->
        <div id="protectDetail-wrap">
            <div id="route-wrap">
                <p>어린이집</p>
                <img src="./img/rightArrow.png" alt="thinArrow" />
                <p>사랑별어린이집</p>
                <!-- CRNAME -->
            </div>

            <div id="detail-wrap">
                <div id="map-wrap">
                    <div id="map"></div>
                </div>
                <!-- 위도 : LA / 경도 : LO -->

                <div id="txt-wrap">
                    <div id="txt-title">사랑별어린이집</div>
                    <!-- CRNAME -->
                    <div id="txt-list">
                        <div id="txt-list-title">
                            <p>주소</p>
                            <p>설립유형</p>
                            <p>보육실수</p>
                            <p>현원/정원</p>
                            <p>통학차량</p>
                            <p>전화번호</p>
                            <p>홈페이지</p>
                        </div>
                        <div id="txt-list-content">
                            <p>서울특별시 서대문구 수색로2길 19-7 DMC금호리첸시아아파트 단지 내 fdfdfdfdfdfdfdfdfdfdfdfdfdfdfd</p>
                            <!-- CRADDR -->
                            <p>국공립</p>
                            <!-- CRTYPENAME -->
                            <p>4</p>
                            <!-- NRTRROOMCNT -->
                            <p>0/27</p>
                            <!-- CRCHCNT(현원)/CRCAPAT(정원) -->
                            <p>미운영</p>
                            <!-- CRCARGBNAME -->
                            <p>02-6411-6191</p>
                            <!-- CRTELNO -->
                            <p>
                                <a href="www.daum.net/ktng2022">바로가기 </a>
                                <!-- CRHOME -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
