<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.childprj.repository.TogetherRepository">

<!--    <resultMap id="togetherResultMap" type="com.project.childprj.domain.Together">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="CODENAME" column="CODENAME" />-->
<!--        <result property="GUNAME" column="GUNAME" />-->
<!--        <result property="TITLE" column="TITLE" />-->
<!--        <result property="DATE" column="DATE" />-->
<!--        <result property="PLACE" column="PLACE" />-->
<!--        <result property="ORG_NAME" column="ORG_NAME" />-->
<!--        <result property="USE_TRGT" column="USE_TRGT" />-->
<!--        <result property="USE_FEE" column="USE_FEE" />-->
<!--        <result property="ORG_LINK" column="ORG_LINK" />-->
<!--        <result property="MAIN_IMG" column="MAIN_IMG" />-->
<!--        <result property="STRTDATE" column="STRTDATE" />-->
<!--        <result property="END_DATE" column="END_DATE" />-->
<!--        <result property="LOT" column="LOT" />-->
<!--        <result property="LAT" column="LAT" />-->
<!--    </resultMap>-->

    <insert id="insertTogether" flushCache="true" parameterType="com.project.childprj.domain.Together">
        INSERT INTO together (CODENAME, GUNAME, TITLE, DATE, PLACE, ORG_NAME, USE_TRGT, USE_FEE, ORG_LINK,
                              MAIN_IMG, STRTDATE, END_DATE, LOT, LAT)
        VALUES (#{CODENAME}, #{GUNAME}, #{TITLE}, #{DATE}, #{PLACE}, #{ORG_NAME}, #{USE_TRGT}, #{USE_FEE}, #{ORG_LINK},
                #{MAIN_IMG}, #{STRTDATE}, #{END_DATE}, #{LOT}, #{LAT})
    </insert>

    <select id="selectType12FromCnt" resultType="com.project.childprj.domain.Together">
        SELECT *
          FROM together
         WHERE CODENAME LIKE concat('%', #{type}, '%')
         LIMIT #{from}, #{cnts}
    </select>

    <select id="selectType3FromCnt" resultType="com.project.childprj.domain.Together">
        SELECT *
          FROM together
         WHERE CODENAME NOT LIKE '%체험%'
           AND CODENAME NOT LIKE '%축제%'
         LIMIT #{from}, #{cnts}
    </select>

    <select id="selectAllTogether" resultType="com.project.childprj.domain.Together">
        SELECT *
          FROM together
    </select>

    <select id="selectCountType12" resultType="int">
        SELECT COUNT(*)
          FROM together
         WHERE CODENAME LIKE concat('%', #{type}, '%')
    </select>

    <select id="selectCountType3" resultType="int">
        SELECT COUNT(*)
          FROM together
         WHERE CODENAME NOT LIKE '%체험%'
           AND CODENAME NOT LIKE '%축제%';
    </select>

    <select id="countAllTogether" resultType="int">
        SELECT COUNT(*)
          FROM together
    </select>

    <select id="selectTogether" resultType="com.project.childprj.domain.Together">
        SELECT *
          FROM together
         WHERE id = #{id}
    </select>

    <update id="changeZzimCnt" flushCache="true">
        UPDATE together
           SET zzimCnt = zzimCnt + #{num}
         WHERE id = #{id}
    </update>

    <update id="changeIsZzimClicked" flushCache="true">
        UPDATE together
           SET isZzimClicked = #{bool}
         WHERE id = #{id}
    </update>

    <update id="changeAllZzimClicked" flushCache="true">
        UPDATE together
           SET isZzimClicked = "false"
    </update>

    <select id="selectFive">
          SELECT *
            FROM together
        ORDER BY zzimCnt DESC
           LIMIT 5
    </select>

    <update id="changeType1" flushCache="true">
        UPDATE together
        SET TYPE = '체험'
        WHERE CODENAME LIKE '%체험%';
    </update>

    <update id="changeType2" flushCache="true">
        UPDATE together
        SET TYPE = '축제'
        WHERE CODENAME LIKE '%축제%';
    </update>

    <update id="changeType3" flushCache="true">
        UPDATE together
        SET TYPE = '공연ㆍ예술'
        WHERE CODENAME NOT LIKE '%체험%'
        AND CODENAME NOT LIKE '%축제%';
    </update>

</mapper>
