<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/marketList.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>알뜰시장</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <div id="marketList-wrap">
            <div id="txt-section">
                공유하고 나눠써요! &nbsp;
                <span>알뜰시장</span>
                <img src="/img/shopping-cart.png" height="30px" />
            </div>

            <div id="list-section">
                <div id="listHeader-wrap">
                    <div id="writeBtn">
                        <a th:href="@{/product/write}">작성하기</a>
                    </div>

                    <div id="frm-section">
                        <form name="searchFrm" action="">
                            <input type="text" placeholder="검색어를 입력하세요" />
                            <button type="submit">
                                <img src="/img/search.png" height="25px" />
                            </button>
                        </form>

                        <form name="orderFrm" action="">
                            <input type="hidden" />
                            <select name="" id="orderWay">
                                <option value="최신순">최신순</option>
                                <option value="가격순">가격순</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div id="list-wrap">
                    <div class="list-content">
                        <a href="">
                            <div class="product-img"></div>
                            <div class="product-title">아기신발아기신발아기신발아기신발</div>
                            <div class="product-price">나눔</div>
                            <div class="product-region">강남구</div>
                        </a>
                    </div>
                    <div class="list-content">
                        <a href="">
                            <div class="product-img"></div>
                            <div class="product-title">아기 신발</div>
                            <div class="product-price">20,000 원</div>
                            <div class="product-region">강남구</div>
                        </a>
                    </div>
                    <div class="list-content">
                        <a href="">
                            <div class="product-img"></div>
                            <div class="product-title">아기 신발</div>
                            <div class="product-price">나눔</div>
                            <div class="product-region">강남구</div>
                        </a>
                    </div>
                    <div class="list-content">
                        <a href="">
                            <div class="product-img"></div>
                            <div class="product-title">아기 신발</div>
                            <div class="product-price">나눔</div>
                            <div class="product-region">강남구</div>
                        </a>
                    </div>
                    <div class="list-content">
                        <a href="">
                            <div class="product-img"></div>
                            <div class="product-title">아기 신발</div>
                            <div class="product-price">나눔</div>
                            <div class="product-region">강남구</div>
                        </a>
                    </div>
                </div>

                <div id="pagination-wrap">
                    <ul id="pagination-content">
                        <li><a href="#"><img src="/img/prev.png" height="12px"></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><img src="/img/next.png" height="12px"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
