<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/marketList.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script defer th:src="@{/js/marketList.js}"></script>
        <title>알뜰시장</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!--/* section */-->
        <div id="marketList-wrap">
            <div id="txt-section">
                공유하고 나눠써요! &nbsp;
                <span>알뜰시장</span>
                <img src="/img/shopping-cart.png" height="30px" />
            </div>

            <div id="list-section">
                <div id="listHeader-wrap">
                    <div id="writeBtn">
                        <a th:href="@{/product/write}">작성하기</a>
                    </div>

                    <div id="frm-section">
                        <form name="searchFrm" autocomplete="off" th:action="@{/product/search}" method="post">
                            <button type="button" id="initial-btn">초기화</button>
                            <input type="text" id="search-input" placeholder="상품명이나 지역을 입력하세요" name="sq" th:value="${sq}" />
                            <button type="submit">
                                <img src="/img/search.png" height="25px" />
                            </button>
                        </form>

                        <form name="orderFrm">
                            <input type="hidden" id="search-input-val" name="sq" />
                            <select id="productOrderWay" name="productOrderWay">
                                <option value="최신순" th:selected="${productOrderWay == '최신순'}">최신순</option>
                                <option value="가격순" th:selected="${productOrderWay == '가격순'}">가격순</option>
                            </select>
                        </form>
                    </div>
                </div>

                <th:block th:unless="${products}">
                    <div class="noProductWrap">
                        <img src="/img/notFound2.png" width="50px;">
                        <div>검색 결과가 없습니다</div>
                        <a th:href="@{/product/list}">뒤로 가기</a>
                    </div>
                </th:block>

                <div id="list-wrap">
                    <div class="list-content" th:each="product, iterState : ${products}">
                        <a th:href="@{'/product/detail/' + ${product.id}}">
                            <img class="product-img" th:src="@{'/upload/'} + ${product.productImg.fileName}">
                            <div class="product-title" th:text="${product.productName}"></div>
                            <div class="product-price" th:text="${product.price} == 0 ? '나눔' : ${product.price} + '원'"></div>
                            <div class="product-region" th:text="${product.region}"></div>
                        </a>
                    </div>
                </div>

                <th:block th:insert="~{fragment/raisePagination::raisePagination}"></th:block>
            </div>
        </div>

        <!--/* footer */-->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
